nextcord
py-cord
asyncio
ffmpeg
discord
speedtest
asyncio
requests
subprocess
youtube_dl
discord.py
dnspython
aiodns
attr
motor
async_timeout
cchardet
attrs
aiohttp
expiringdict
dblpy
pycares
karp
nextcord
requests
speedtest-cli
PyNaCl
slack-bolt
youtube_dl
async-timeout
